 .mat-mdc-dialog-surface {
   max-width: 900px !important;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);

   background-color: #ffffff;
 }



 h2 {
   font-size: 24px;
   font-weight: bold;
   color: #333;
   margin-bottom: 20px;
   text-align: center;
 }


 .form-content {
   display: flex;
   flex-direction: column;
   gap: 20px;

 }


 .form-row {
   display: flex;
   gap: 16px;
   margin-bottom: 16px;
   flex-wrap: wrap;
 }

 .input-half {
   flex: 1 1 48%;
 }

 .input-full {
   flex: 1 1 100%;
 }

 .single-center {
   justify-content: center;
 }

 .modal-actions {
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-top: 30px;
 }

 mat-error {
   color: black !important;
 }

 .image-upload {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 150px;
   border: 2px dashed #ccc;
   border-radius: 10px;
   margin-bottom: 20px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
 }

 #file-input {
   display: none;
 }

 .upload-icon {
   font-size: 48px;
   color: #888;
 }

 .preview-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
 }


 button[mat-button],
 button[mat-raised-button] {
   font-weight: bold;
   padding: 8px 16px;
   border-radius: 6px;
   color: white;

 }

 .cancel-button {
   background-color: #f44336 !important;
   color: white !important;
 }

 .confirm-button {
   background-color: #2196f3 !important;
   color: white !important;
 }

 .cancel-button:hover {
   background-color: #b71c1c;
   /* rojo más oscuro */
 }

 .confirm-button:hover {
   background-color: #0d47a1;
   /* azul más oscuro */
 }

 .success-message,
 .error-message {
   text-align: center;
   padding: 40px;
   font-size: 18px;
   width: 400px;
 }

 .success-icon {
   font-size: 48px;
   color: #4caf50;
 }

 .error-icon {
   font-size: 60px;
   color: #f44336;
 }