   <div class="dashboard-layout flex flex-col h-screen">

  <div class="main-container flex h-full">
    <!-- Sidebar -->
    <app-siderbang *ngIf="isSidebarVisible" class="siderbang"></app-siderbang>
    <!-- Contenedor de productos -->
    <div class="content-area flex flex-col flex-grow overflow-y-auto min-w-0">
      <app-header (sidebarToggle)="toggleSidebar()"></app-header>
      <div class="container mx-auto p-4">
        <!-- Barra de navegación -->
        <div class="flex justify-between items-center mb-6">
          <!-- Botón de Agregar Producto a la derecha -->
          <button (click)="abrirModal()"
            class="inline-flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg shadow transition duration-150 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" /></svg>
            Agregar Producto
          </button>

          <!-- Modal para Agregar Producto -->
          <app-agregar-modal *ngIf="modalVisible" (cerrarModal)="cerrarModals()"
            (agregarProductoEvent)="agregarProducto()"></app-agregar-modal>
          <!-- Modal de éxito (opcional) -->
          <div *ngIf="successModalVisible"
            class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
            <div class="bg-white rounded-lg p-6 w-full max-w-xs">
              <h2 class="text-lg font-semibold">Producto Agregado Exitosamente</h2>
              <button (click)="successModalVisible = false"
                class="bg-blue-500 text-white py-2 px-4 rounded mt-4">Cerrar</button>
            </div>
          </div>
          <!-- Botón de carrito -->
          <button (click)="abrirCarrito()"
            class="inline-flex items-center gap-2 bg-gray-100 text-gray-700 font-semibold py-2 px-4 rounded-lg hover:bg-gray-200 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" /></svg>
            Ver Carrito
          </button>
        </div>
        <!-- Modal Carrito -->
        <app-carrito-modal *ngIf="carritoVisible" [carrito]="carrito" [totalCarrito]="totalCarrito"
          (cerrarCarritoModal)="cerrarCarritoModal()">
        </app-carrito-modal>
        <!-- Modal de Filtro -->
        <app-filtrar-modal *ngIf="filterModalVisible" (cerrarModal)="cerrarFiltroModal()"
          (aplicarModal)="aplicarFiltroModal()">
        </app-filtrar-modal>
        <!-- Sección de Categorías con Paginación y Botones Laterales Mejorada -->
        <h2 class="text-xl font-bold text-gray-800 mb-4 text-center">CATEGORIAS</h2>
        <div class="relative flex items-center justify-center mb-12 px-6">
          <!-- Botón de Página Anterior -->
          <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1"
            class="absolute left-0 p-2 rounded-full bg-transparent text-gray-400 
                    hover:bg-blue-300 hover:text-white hover:shadow-lg 
                    disabled:opacity-1 disabled:cursor-not-allowed 
                    transition-all duration-300">
            <!-- Icono SVG de flecha izquierda -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
            </svg>
          </button>
          <!-- Categorías -->
          <section class="flex flex-wrap justify-center gap-8">
            <div *ngFor="let categoria of categoriasPaginadas()" (click)="filtrarPorCategoria(categoria.name)"
              class="flex-shrink-0 w-60 text-center p-4 bg-white rounded-xl shadow-md hover:shadow-lg hover:-translate-y-1 transition-all duration-300 cursor-pointer border">
              <img [src]="categoria.image" alt="Categoria" class="w-28 h-25 mx-auto mb-4 rounded-lg shadow-sm" />
              <p class="font-semibold text-lg text-gray-900">{{ categoria.name }}</p>
              <span class="text-gray-600 text-sm">{{ categoria.cantidad }} productos</span>
            </div>
          </section>
          <!-- Botón de Página Siguiente -->
          <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === getPages().length"
            class="absolute right-0 p-2 rounded-full bg-transparent text-gray-400 
                  hover:bg-blue-300 hover:text-white hover:shadow-lg 
                  disabled:opacity-1 disabled:cursor-not-allowed 
                  transition-all duration-300">
            <!-- Icono SVG de flecha derecha -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
            </svg>
          </button>
        </div>

        <!-- Productos más vendidos -->
        <section>
          <div class="pb-5 items-center">
            <label for="name" class="block text-xl font-medium text-gray-700 mb-2">Buscar Productos</label>
            <div class="relative w-full">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 4a6 6 0 110 12 6 6 0 010-12zm9 9l-2.5-2.5" />
                </svg>
              </span>
              <input type="text" id="name" name="name" [(ngModel)]="searchText"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
                placeholder="Ingresa el nombre del producto" (keyup)="filterProducts(searchText)" />
            </div>
          </div>

          <h2 class="text-2xl font-bold mb-6 text-center">
            {{ selectedCategoria ? 'Productos en ' + selectedCategoria : 'PRODUCTOS DISPONIBLES' }}
          </h2>

          <button *ngIf="selectedCategoria" (click)="mostrarTodosLosProductos()"
            class="bg-green-600 text-gray-900 py-2 px-4 rounded mb-4 hover:bg-green-800">
            Mostrar Todos los Productos
          </button>

          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6">
            <ng-container *ngIf="productosPagina">
              <div *ngFor="let producto of productosPagina" class="bg-white rounded-xl shadow-md overflow-hidden flex flex-col group transition-shadow duration-300 hover:shadow-lg">
              <div class="relative h-48 bg-gray-100 flex items-center justify-center cursor-pointer" (click)="abrirDetallesModal(producto)">
                <img [src]="producto.image" alt="Producto" class="max-w-full max-h-full object-contain p-2 group-hover:scale-105 transition-transform duration-300" />
                <div *ngIf="producto.descuento" class="absolute top-2 right-2 bg-yellow-400 text-yellow-900 text-xs font-bold px-2 py-1 rounded-full">{{ producto.descuento }}% OFF</div>
                <div *ngIf="producto.stock" class="absolute top-2 left-2 bg-gray-800 text-white text-xs font-bold px-2 py-1 rounded-full">Stock: {{ producto.stock }}</div>
              </div>
              <div class="p-4 flex flex-col flex-grow">
                <h3 class="font-bold text-gray-800 text-base mb-1 truncate">{{ producto.name }}</h3>
                <p class="text-sm text-gray-500 mb-3 flex-grow">{{ producto.description.split(' ').slice(0, 10).join(' ') + (producto.description.split(' ').length > 10 ? '...' : '') }}</p>
                <div class="flex items-center justify-between mt-auto">
                  <p class="text-lg font-bold text-gray-900">S/. {{ producto.salePrice.toFixed(2) }}</p>
                  <button (click)="agregarACarrito(producto)" class="p-2 bg-blue-100 text-blue-700 rounded-lg hover:bg-blue-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" /></svg>
                  </button>
                </div>
              </div>
            </div>
            </ng-container>
          </div>
        </section>

        <div *ngIf="productosFiltrados " class="mt-6">
            <app-custom-paginator
                [currentPage]="p"
                [totalItems]="productosFiltrados.length"
                [itemsPerPage]="productosPorPagina" 
                (pageChange)="p = $event">
            </app-custom-paginator>
        </div>


        <!-- Modal de Detalles del Producto -->
        <app-detalles-modal *ngIf="detallesModalAbierto" [producto]="productoSeleccionado"
          (cerrarModal)="cerrarDetallesModal()">
        </app-detalles-modal>

      </div>
    </div>
  </div>
</div>